version: '3.9'
services:
  api:
    image: node:20
    working_dir: /app
    volumes:
      - ./:/app
    env_file:
      - .env.example
    command: sh -c "npm install && npm run dev"
    ports:
      - "3000:3000"
